
	// TECH MEETUPS
		// Sass

// Coded by Jazzmin Vangeel, Giordan Battaglin and Andrew Dyke
// Oct. 2015
// This application uses the Meet Up API
// Icons are from noun project.


@import 'setup';

// COLORS - like that 80's gangsta movie
$grey: #66746A;
$red: #E81031;
$blue: #4D8CBF;
$textShadow: 0px 2px 4px rgba(0,0,0,0.50);

// ------------

html {
	font-size:62.5%;
	font-family: 'Montserrat', sans-serif;
}

.body {
	font-family: 'Montserrat', sans-serif;
	color:white;
}

#loadMoreForm{
	margin: 0 auto;
	text-align: center;
	padding: 20px;
	margin-top: -40px;
}

.loadMore {
	background: $blue;
	color: white;
	width: 300px;
	height: 80px;
	border: solid 3px $red;
	font-size: 1.6rem;
	transition: color 0.8s, background 0.8s;
	&:hover, &:focus{
		color: $red;
		background: white;
	}
}

.hide {
	display: none;
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}


header {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	color: white;
	background: black;
	border: 10px 10px solid white;
}

h1 {
	color:white;
	text-transform: uppercase;
	font-size: 11rem;
	margin: 0 0 20px;
	letter-spacing: .3rem;
	font-weight: 700;
	text-align: center;
	padding: 0;
}

h3 {
	color:white;
	font-weight: 400;
	font-size: 2.5rem;
	line-height: 3rem;
	color: white;
	text-align: center;
	letter-spacing: .2rem;
	margin: 0 0 10px;
}

h4.error{
	color: white;
	font-weight: 800;
	background: $red;
	padding: 10px;
	text-align: center;
}

.visible{
	display: block;
}

.invisible{
	display: none;
}

.developers a{
	text-decoration: none;
	color: white;
	transition: color 0.8s;
	&:hover, &:focus{
		color: $red;	
	}
}

.leftSide {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background: url("../assets/city.jpg") no-repeat center;
  background-size: cover;
  width: 75%;
  color: white;
  align-items:center;
	justify-content: center;
	padding: 50px;
	h1{
  		padding-top:30px;
			text-shadow: $textShadow;

  	}
  	h3 {
  		text-align: center;
  		padding-top:20px;
  		line-height:3.5rem;
			text-shadow: $textShadow;
  		span {
  			font-weight: 600;
  		}
  	}
}

.hero {
	fill:white;
	margin:0;
	width: 300px;
}

aside {
	background-color: $grey;
	width:25%;
	padding: 10px;
	box-shadow: inset -19px 0px 61px -8px rgba(0,0,0,0.49);
}

form.form {
	margin-top:25%;
	padding:20px;
	
		h4 {
			font-weight: 300;
			font-size: 1.5rem;
			letter-spacing: .1rem;
			line-height: 2.5rem;
			margin-bottom:15px;
			text-shadow: $textShadow;
		}

		#submit {
			background-color:$red;
			color:white;
			width:100%;
			padding:10px;
//			display:block;
			margin-top: 20px;
			border-radius: 5px;
			border-color: $red;
			text-transform: uppercase;
			letter-spacing: .1rem;
			font-size: 1.4rem;
		}

		.inputBox {
			background-color:whitesmoke;
			padding:10px;
			width:100%;
			margin-bottom:20px;
			font-size: 1.8rem;
		}

	}

//go back and customize calender. 
// CLOSE HEADER STYLES
//needs bottom margin:80px. but only when dyno content is being shown.

.threeBoxes {
	background: $red;
	width: 100%;
	color: white;
	box-shadow: inset -9px -6px 62px 0px rgba(0,0,0,0.75);
}

.threeBoxWrap	{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0 auto;
	max-width: 1300px;
	height:300px;
}

.case {
	display:flex;
	padding: 10px;
	width: 33.33%;
	flex-wrap:wrap;
	flex-direction: row;
	align-items: center;
	justify-content: center;

		img.icon {
		width: 160px;
	}
	
	.boxMsg {
		max-width: 200px;
		font-size: 1.5rem;
		font-weight: 300;
		text-align: center;
		line-height: 2rem;
	}
	
}


//Dyna content starts

.eventBox {
	display: flex;
	flex-wrap: wrap;
	padding: 40px;
	margin: 40px auto;
	flex-direction: row;
	border-radius: 10px;
	border: 2px solid lightgray;
	align-items: center;
	justify-content: center;
}

.descriptBox {
	width:70%;
}

p.description{
	// background-color:pink;
	margin: 0;
	// padding: 1.5rem;
	font-size: 1.7rem;
	line-height:2.5rem;
	padding:30px 0;

}

p.timeZone{
	// margin-top:10px;
	color:red;
	font-size: 1.4rem;
	// font-weight:600;
	// text-align: center;
}

a.readMore{
	text-align: right;
	text-decoration: none;
	color: $red;
	font-size: 1.6rem;
	font-weight: 600;
	letter-spacing: .1rem;
	margin-top:20px;
	display:block;
	transition: color 0.6s;
	&:focus, &:hover{
		color: $blue;
	}
}

h2 {
	padding-top:20px;
	padding-bottom:20px;
	font-size:4rem;
	color: black;
	margin: 0;
	font-color: $grey;
	line-height:4rem;
	// padding-bottom:20px;
	font-weight: 300;
	// text-align: center;
}

.eventPhoto {
	width: calc(20% - 20px);
	margin: 10px;
	display:flex;
	flex-wrap:wrap;
	align-items:center;
	margin-left:80px;
	justify-content: center;
	img {
		max-width:225px;
	}

}

//Footer 

footer {
	background: $blue;
	height: 180px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	box-shadow: inset -20px -12px 61px -8px rgba(0,0,0,0.49);
	justify-content: center;
	align-items: center;

	.icons {
		display:flex;
		flex-wrap:wrap;
		flex-direction: row;
//		height: 100%;
		align-items:center;
	}

	div.icons i {
		// fill: $grey;
		color:$red;
		font-size:3rem;
		padding:20px 60px;
		margin: 0;
		}

	div.credits {
		line-height: 2.2rem;
	}

	p {
		// display:block;
		
		font-size: 1.4rem;
		font-weight: 300;
		letter-spacing: 0.1rem;
		padding: 0 1rem;
		color: white;
		text-align: center;
	}


	.leftCredit {
		text-transform: uppercase;

	}

	img{
		max-height: 20px;
	}
}

@media all and (max-width: 888px) {
	.leftSide {
		width: 100%;
		height: 100%;
	}
	aside{
		width: 100%;
	}
	form.form{
		padding-top: 0;
		margin-top: 0;;
	}
}

@media all and (max-width: 787px) {
	a.readMore{
	text-align: center;
	}
	.eventBox{
		padding: 10px;
		h2, .timeZone, .description{
			text-align: center;
		}
	}
	.eventPhoto {
	width: calc(20% - 20px);
	margin: 10px;
	display:flex;
	flex-wrap:wrap;
	align-items:center;
	justify-content: center;
	img {
		max-width:180px;
		margin: 20px 0;
	}

}
	.descriptBox {
		width: 90%;
	}
}


@media all and (max-width: 603px) {
	img.icon {
		max-width: 100px;
	}
	footer{
		p.developers{
			font-size: 1.6rem;
		}
	}
}
