
	// TECH MEETUPS
		// Sass

// Coded by Jazzmin Vangeel, Giordan Battaglin and Andrew Dyke
// Oct. 2015
// This application uses the Meet Up API

@import 'setup';

// COLORS - like that 80's gangsta movie
$grey: #66746A;
$red: #E81031;
$blue: #4D8CBF;
// ------------

html {
	font-size:62.5%;
}

.body {
	font-family: 'Montserrat', sans-serif;
	color:white;
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}

header {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	color: white;
	background: black;
	border: 10px 10px solid white;
}

h1 {
	color:white;
	text-transform: uppercase;
	font-size: 11rem;
	margin: 0 0 20px;
	letter-spacing: .3rem;
	font-weight: 700;
}

h3 {
	color:white;
	font-weight: 400;
	font-size: 2.5rem;
	line-height: 3rem;
	color: white;
	text-align: left;
	letter-spacing: .2rem;
	margin: 0 0 10px;
}

.leftSide {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 40px;
  background-image: url("../assets/city.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  // height: 800px;
  height: 100vh;
  max-height: 800px;
  width: 75%;
  color: white;
  border-right: 10px solid white;
}

.hero {
	fill:white;
	margin:0;
	width: 270px;
}

aside {
	background-color: $blue;
	width:25%;
	padding: 20px;
}
// CLOSE HEADER STYLES

.threeBoxes {
	background: $red;
	width: 100%;
	color: white;
}

.threeBoxWrap	{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0 auto;
	max-width: 1200px;
	height:300px;
}

.case {
	display:flex;
	padding: 20px;
	width: 33.33%;
	flex-wrap:wrap;
	align-items: center;
	justify-content: center;
	img.icon {
		width: 100px;
		margin: 10px;
	}
}

.boxMsg {
	width: 200px;
	font-size: 1.6rem;
	font-weight: 100;
	text-align: center;
}

.eventBox{
	display: flex;
	flex-wrap: wrap;
	padding: 40px;
	margin: 20px auto;
	flex-direction: row;
	border-radius: 10px;
	border: 2px solid lightgray;
	align-items: center;
	justify-content: center;
}

.descriptBox {
	width:70%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

p.description{
	margin: 0;
	padding: 1.5rem;
	font-size: 1.7rem;
	line-weight: 1.5rem;
}

p.timeZone{
	margin-top:20px;
	color:red;
	font-size: 1.4rem;
	text-align: center;
}

a.readMore{
	text-align: center;
	text-decoration: none;
	color: $red;
	font-size: 1.4rem;
	font-weight: 400;
}

h2{
	font-size:4rem;
	color: black;
	margin: 0;
	font-color: $grey;
	line-height:4rem;
	padding-bottom:20px;
	text-align: center;
}

.eventPhoto {
	width: calc(30% - 20px);
	margin: 10px;
	img {
		width: 100%;
	}
}

//Footer 

footer {
	background: $grey;
	height: 140px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	p{
		text-align: center;
		font-size: 1.4rem;
		font-weight: 100;
		letter-spacing: 0.3rem;
		padding: 0 1rem;
		line-height: 2.5rem;
	}
	img{
		max-height: 20px;
	}
}